*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'DynaPuff', cursive; */
    font-family: 'Montserrat', sans-serif;
}

nav.about{
    /* border: 1px solid red; */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #35424A;

}
nav.about h1{
    color: #A9508A;
}
nav.about span{
    color: #F4F4F4;

}

/* pink #A9508A */

nav.about a{
    text-decoration: none;
    color: #F4F4F4;
    padding-left:1rem ;
}
nav.about a:hover{
    text-shadow: 0 0 20px #F4F4F4;
    color: #A9508A;
}

div.color{
    border: 1px solid #A9508A;
}
header.subs{
    position: relative;
    justify-content: center;
    background-color: #35424A;

}
img.img1{
    width: 100%;
    height: 350px;
    object-fit:cover;
    overflow: hidden;

}
header.subs section{
    text-align: center;
    position: absolute;
    top: 40%;
    color: #F4F4F4;
    /* transform: translate(40%,50%); */

    width: 100%;
}

header.subs h1{
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 2rem;
}


nav.mail{
    display: flex;
    background-color: #35424A;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: #F4F4F4;
    /* nav.mail h2
    color: #F4F4F4;} */
}


/* orange #E7491D */
nav.mail button{
    background-color:#E7491D ;
    color: #F4F4F4;
    border: 0px;
    padding: 0.3rem;
}
/* white #F4F4F4 */
nav.mail input{
    width: 200px;
    height: 1.8rem;
}


section.html {
    display: flex;
    justify-content: space-evenly;
}

section.html section {
    text-align: center;
    margin: 2rem;

}
section.html section h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}


footer{
    text-align: center;
    background-color: #35424A;
}
footer p {
    color: #F4F4F4;
    padding: 0;

}
footer section{
    padding: 1.5rem;
}
footer section img{
    padding-bottom: 0;
    margin-bottom: 0;
}


/* ABOUT=============== */
/* body.about{
    height: 100vh;
} */

section.aboutUs{
    display: flex;
    justify-content: space-between;
}
.left-div{
    flex: 1.2;
    padding: 1rem 3rem;
}
.left-div h1{
    padding: 1rem;
}
.left-div__dark{
    background-color: #35424A;
    padding: 1rem;
    color: #F4F4F4;
}
.right-div h2,p.paragraph{
    background-color: #35424A;
    padding: 1rem;
    color: #F4F4F4;
}
.right-div{
    flex:0.8;
    padding: 1rem 2rem;
}

.footer-about{
    position: fixed;
    bottom: 0;
    width: 100%;
    
    
}


/* services========= */
main.service{
    display: flex;
    justify-content: space-between;
    
}

section.pricing{
    padding: 2rem 3rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
}

section.pricing div{
    border: 1px solid #35424A;
    background-color: #E6E6E6;
    
}

section.pricing h2,p{
    padding: 0.7rem;

}

section.info{
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    width: 40%;
    
}

section.info div{
    display: flex;
    flex-direction: column;
    background-color: #35424A;
    padding: 0.5rem 1.5rem;
    color: #E6E6E6;
}

section.info h2{
    padding: 0.5rem 1.5rem;
    background-color: #35424A;
    color: #E6E6E6;
}
/* section.info input{
    width: 80%;
} */



section.info button{
    background-color:#E7491D ;
    color: #F4F4F4;
    border: 0px;
    padding: 0.3rem;
    width: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}
/* .footer-services{
    position: fixed;
    bottom: 0;
    width: 100%;
    
} */